.container {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container img {
  height: 400px;
  width: 400px;
  margin-bottom: 20px;
  border-radius: 38px;
  border: 2px solid darkslategray;
}

.container button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

